Repository gsuquet/workflows, changes with the labels that .github/labeler.yml gives for each.
All labels: gitignore, automation, deployment, integration, pages, security

:technologist: fix: Change devcontainer name to match project
  .devcontainer/devcontainer.json
Labels: none

:lock: fix: Update hardened runner policy to block for the ossf scorecard security workflow (#33)
  .devcontainer/devcontainer.json
  .github/workflows/security-ossf-scorecard.yml
Labels: security

:sparkles: feat: Codacy security workflow to analyze code and conf files
  .github/workflows/security-codacy.yml
Labels: security

:bug: fix: Get matrices from variables using built-in json fct
  .github/workflows/integration-python.yml
  .github/workflows/security-codeql.yml
Labels: integration, security

:memo: fix: Rename the ossf artifact to use a more explicit name
  .github/workflows/security-ossf-scorecard.yml
Labels: security

:lock: fix: Set default level permissions & remove user inputs
  .github/workflows/security-codacy.yml
Labels: security

:bug: fix: Change workflows, scripts & markdown to address codacy issues
  .github/pull_request_template.md
  .github/workflows/deployment-python-pypi.yml
  .github/workflows/integration-modification-script.yml
  .github/workflows/integration-python.yml
  .github/workflows/security-codacy.yml
  .github/workflows/security-codeql.yml
  .github/workflows/security-ossf-scorecard.yml
  scripts/generate_workflows_table.sh
  scripts/pre_commit_output_formator.sh
  test/pre_commit_output.md
Labels: deployment, integration, security

:memo: doc: Update workflow list in README.md
  README.md
Labels: none

:art: fix: Improve commit validator workflow bash syntax
  .github/workflows/integration-commit-validator.yml
Labels: integration

:bug: fix: Add double quotes around env variables in commit validator
  .github/workflows/integration-commit-validator.yml
Labels: integration

:bug: fix(commit-validator): Remove "`"
  .github/workflows/integration-commit-validator.yml
Labels: integration

:sparkles: feat: Codacy security workflow to analyze code and conf files
  .github/workflows/security-codacy.yml
Labels: security

:bug: fix: Get matrices from variables using built-in json fct
  .github/workflows/integration-python.yml
  .github/workflows/security-codeql.yml
Labels: integration, security

:memo: fix: Rename the ossf artifact to use a more explicit name
  .github/workflows/security-ossf-scorecard.yml
Labels: security

:lock: fix: Set default level permissions & remove user inputs
  .github/workflows/security-codacy.yml
Labels: security

:bug: fix: Change workflows, scripts & markdown to address codacy issues
  .github/pull_request_template.md
  .github/workflows/deployment-python-pypi.yml
  .github/workflows/integration-modification-script.yml
  .github/workflows/integration-python.yml
  .github/workflows/security-codacy.yml
  .github/workflows/security-codeql.yml
  .github/workflows/security-ossf-scorecard.yml
  scripts/generate_workflows_table.sh
  scripts/pre_commit_output_formator.sh
  test/pre_commit_output.md
Labels: deployment, integration, security

:memo: doc: Update workflow list in README.md
  README.md
Labels: none

:bug: fix: Add double quotes around env variables in commit validator
  .github/workflows/integration-commit-validator.yml
Labels: integration

:art: fix: Improve commit validator workflow bash syntax
  .github/workflows/integration-commit-validator.yml
Labels: integration

:bug: fix(commit-validator): Remove "`"
  .github/workflows/integration-commit-validator.yml
Labels: integration

:sparkles: feat(codacy): Workflow to analyze programming and configuration langages (#34)
  .github/pull_request_template.md
  .github/workflows/deployment-python-pypi.yml
  .github/workflows/integration-commit-validator.yml
  .github/workflows/integration-modification-script.yml
  .github/workflows/integration-python.yml
  .github/workflows/security-codacy.yml
  .github/workflows/security-codeql.yml
  .github/workflows/security-ossf-scorecard.yml
  README.md
  scripts/generate_workflows_table.sh
  scripts/pre_commit_output_formator.sh
  test/pre_commit_output.md
Labels: deployment, integration, security

:lock: fix(security): Update ossf scorecard & dependencies harden policy
  .github/workflows/security-dependencies.yml
  .github/workflows/security-ossf-scorecard.yml
Labels: security

:lock: fix(security): Update ossf scorecard & dependencies scanning allowed endpoints policies (#69)
  .github/workflows/security-dependencies.yml
  .github/workflows/security-ossf-scorecard.yml
Labels: security

feat(integration): create a semantic release workflow
  .editorconfig
  .github/workflows/integration-release.yml
  .releaserc
Labels: integration

fix(integration): set input and format in the workflow level environment
  .github/workflows/integration-commit-validator.yml
Labels: integration

fix(integration): modify regex to allow for commit or pr scope
  .github/workflows/integration-commit-validator.yml
Labels: integration

fix(integration commit): define convention and input in workflow level env and allow for scopes (#84)
  .github/workflows/integration-commit-validator.yml
Labels: integration

chore(config dependabot): use the conventional commit convention
  .github/dependabot.yml
Labels: none

chore(config dependabot): use the conventional commit convention instead of gitmoji (#85)
  .github/dependabot.yml
Labels: none

chore(renovate): display action version in comment for renovate format
  .github/dependabot.yml
  .github/workflows/automation-closer.yml
  .github/workflows/automation-comment-pr.yml
  .github/workflows/automation-greeter.yml
  .github/workflows/automation-labeler.yml
  .github/workflows/deployment-python-pypi.yml
  .github/workflows/deployment-s3.yml
  .github/workflows/integration-commit-validator.yml
  .github/workflows/integration-linter-pre-commit.yml
  .github/workflows/integration-modification-script.yml
  .github/workflows/integration-python.yml
  .github/workflows/security-codacy.yml
  .github/workflows/security-codeql.yml
  .github/workflows/security-dependencies.yml
  .github/workflows/security-ossf-scorecard.yml
Labels: automation, deployment, integration, security

chore(renovate): display action version in comment for renovate format (#90)
  .github/dependabot.yml
  .github/workflows/automation-closer.yml
  .github/workflows/automation-comment-pr.yml
  .github/workflows/automation-greeter.yml
  .github/workflows/automation-labeler.yml
  .github/workflows/deployment-python-pypi.yml
  .github/workflows/deployment-s3.yml
  .github/workflows/integration-commit-validator.yml
  .github/workflows/integration-linter-pre-commit.yml
  .github/workflows/integration-modification-script.yml
  .github/workflows/integration-python.yml
  .github/workflows/security-codacy.yml
  .github/workflows/security-codeql.yml
  .github/workflows/security-dependencies.yml
  .github/workflows/security-ossf-scorecard.yml
Labels: automation, deployment, integration, security

chore(renovate): update README automatically with new github releases
  .github/renovate.json
  README.md
  SECURITY.md
Labels: none

fix(markdownlint): reduce the length of the line to under 80 characters
  SECURITY.md
Labels: none

chore(renovate): update README automatically with new github releases (#94)
  .github/renovate.json
  README.md
  SECURITY.md
Labels: none

chore(config dev): actionlint for github and dev container image tag
  .devcontainer/devcontainer.json
  .editorconfig
  .github/config/default_gitmojis.yml
  .github/config/default_labels.yml
  .github/config/default_semver_gitmoji.yml
  .github/workflows/automation-greeter.yml
  .github/workflows/deployment-python-pypi.yml
  .github/workflows/integration-python.yml
  .github/workflows/security-codeql.yml
  Makefile
Labels: automation, deployment, integration, security

fix(precommit): pin version to be installed in workflow
  .github/workflows/integration-linter-pre-commit.yml
Labels: integration

chore(config dev): actionlint for github and dev container image tag (#98)
  .devcontainer/devcontainer.json
  .editorconfig
  .github/config/default_gitmojis.yml
  .github/config/default_labels.yml
  .github/config/default_semver_gitmoji.yml
  .github/workflows/automation-greeter.yml
  .github/workflows/deployment-python-pypi.yml
  .github/workflows/integration-python.yml
  .github/workflows/security-codeql.yml
  Makefile
Labels: automation, deployment, integration, security

fix(precommit): pin version to be installed in workflow (#99)
  .github/workflows/integration-linter-pre-commit.yml
Labels: integration

docs: reduce line length to match the markdown linter 80 chars limit
  .github/pull_request_template.md
  README.md
  SECURITY.md
Labels: none

docs: reduce line length to match the markdown linter 80 chars limit (#100)
  .github/pull_request_template.md
  README.md
  SECURITY.md
Labels: none

.github/labeler.yml:

# PR labeler configuration file
ci:
- any:
  - changed-files:
    - all-globs-to-any-file: [.github/**/*, '!.github/ISSUE_TEMPLATE/*', '!.github/pull_request_template.md']
    - any-glob-to-any-file:
      - .pre-commit-config.yaml
      - .pre-commit-config
      - .semrelrc

gitignore:
- changed-files:
  - any-glob-to-any-file:
    - .gitignore

github_actions:
- any:
  - changed-files:
    - all-globs-to-any-file: [.github/**/*, '!.github/ISSUE_TEMPLATE/*', '!.github/pull_request_template.md']

documentation:
- any:
  - changed-files:
    - any-glob-to-any-file:
      - CHANGELOG.md
      - CODE_OF_CONDUCT.md
      - CONTRIBUTING.md
      - LICENSE
      - SECURITY.md
      - .github/ISSUE_TEMPLATE/**/*
      - .github/pull_request_template.md
      - '**/README.md'

configuration:
- any:
  - changed-files:
    - any-glob-to-any-file:
      - .devcontainer/**/*
      - .pre-commit-config.yaml
      - .editorconfig
      - justfile

automation:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/**/*automation*.yml

deployment:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/**/*deployment*.yml

integration:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/**/*integration*.yml

pages:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/**/*pages*.yml

security:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/**/*security*.yml
