Repository gsuquet/workflows, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, gitignore, github_actions, documentation, configuration, automation, deployment, integration, pages, security

.github/labeler.yml:

# PR labeler configuration file
ci:
- any: [.github/**/*, '!.github/ISSUE_TEMPLATE/*', '!.github/pull_request_template.md']
- .pre-commit-config.yaml
- .pre-commit-config
- .semrelrc

gitignore:
- .gitignore

github_actions:
- any: [.github/**/*, '!.github/ISSUE_TEMPLATE/*', '!.github/pull_request_template.md']

documentation:
- CHANGELOG.md
- CODE_OF_CONDUCT.md
- CONTRIBUTING.md
- LICENSE
- SECURITY.md
- .github/ISSUE_TEMPLATE/**/*
- .github/pull_request_template.md
- '**/README.md'

configuration:
- .devcontainer/**/*
- .pre-commit-config.yaml
- .editorconfig
- justfile

automation:
- .github/workflows/**/*automation*.yml

deployment:
- .github/workflows/**/*deployment*.yml

integration:
- .github/workflows/**/*integration*.yml

pages:
- .github/workflows/**/*pages*.yml

security:
- .github/workflows/**/*security*.yml

:sparkles: feat: Add pre-commit workflow
  .devcontainer/devcontainer.json
  .github/workflows/integration-linter-pre-commit.yml
  .github/workflows/integration.yml
Labels: ci, github_actions, configuration, integration

:bug: fix: Deactivate default caching for python setup
  .github/workflows/integration-linter-pre-commit.yml
Labels: ci, github_actions, integration

:bug: fix: Misspelled file name
  .github/workflows/integration-linter-pre-commit.yml
Labels: ci, github_actions, integration

:sparkles: feat: Add pre-commit workflow (#2)
  .devcontainer/devcontainer.json
  .github/workflows/integration-linter-pre-commit.yml
  .github/workflows/integration.yml
Labels: ci, github_actions, configuration, integration

:memo: feat: Add automatic doc update
  .github/workflows/integration-modification-script.yml
  .github/workflows/integration.yml
  README.md
  scripts/generate_wokflows_table.sh
Labels: ci, github_actions, documentation, integration

:bug: fix: Add missing permissions
  .github/workflows/integration.yml
Labels: ci, github_actions, integration

:bug: fix Update script name
  .github/workflows/integration.yml
  scripts/generate_workflows_table.sh
Labels: ci, github_actions, integration

:bug: fix: Update workflow to commit changes
  .github/workflows/integration-modification-script.yml
Labels: ci, github_actions, integration

:memo: feat: Add automatic doc update (#3)
  .github/workflows/integration-modification-script.yml
  .github/workflows/integration.yml
  README.md
  scripts/generate_workflows_table.sh
Labels: ci, github_actions, documentation, integration

:sparkles: feat: Add pr comment workflow
  .github/workflows/automation-comment-pr.yml
Labels: ci, github_actions, automation

:wrench: feat: Add gitmojis, semver, labels files
  .github/workflows/config/default_gitmojis.yml
  .github/workflows/config/default_labels.yml
  .github/workflows/config/default_semver_gitmoji.yml
Labels: ci, github_actions

:sparkles: feat: Add new custom pr title validator
  .github/workflows/integration-commit-validator.yml
  .github/workflows/integration-linter-pr.yml
  .github/workflows/integration.yml
  scripts/commit_message_validator.sh
Labels: ci, github_actions, integration

:memo: doc: Update workflow list in README.md
  README.md
Labels: documentation

:sparkles: feat: Add two new workflows and three configuration files (#4)
  .github/workflows/automation-comment-pr.yml
  .github/workflows/config/default_gitmojis.yml
  .github/workflows/config/default_labels.yml
  .github/workflows/config/default_semver_gitmoji.yml
  .github/workflows/integration-commit-validator.yml
  .github/workflows/integration-linter-pr.yml
  .github/workflows/integration.yml
  README.md
  scripts/commit_message_validator.sh
Labels: ci, github_actions, documentation, automation, integration

:alien: chore: Update outputs to match github
  .github/workflows/integration-commit-validator.yml
  .github/workflows/integration-linter-pre-commit.yml
  .github/workflows/integration-modification-script.yml
Labels: ci, github_actions, integration

:bug: fix: Change output format to md compatible
  .github/workflows/integration-linter-pre-commit.yml
Labels: ci, github_actions, integration

:bug: fix: Spelling mistake
  .github/workflows/integration-linter-pre-commit.yml
Labels: ci, github_actions, integration

:lipstick: fix: Upgrade precommit md output
  .github/workflows/integration-linter-pre-commit.yml
Labels: ci, github_actions, integration

:lipstick: fix: precommit output table
  .github/workflows/integration-linter-pre-commit.yml
  scripts/pre_commit_output_formator.sh
  test/pre_commit_output.md
  test/pre_commit_output.txt
Labels: ci, github_actions, integration

:bug: fix: Exclude lines starting with 'Fixing'
  .github/workflows/integration-linter-pre-commit.yml
  scripts/pre_commit_output_formator.sh
  test/pre_commit_output.md
  test/pre_commit_output.txt
Labels: ci, github_actions, integration

:alien: chore: Update workflows outputs to match github's new standard (#5)
  .github/workflows/integration-commit-validator.yml
  .github/workflows/integration-linter-pre-commit.yml
  .github/workflows/integration-modification-script.yml
  scripts/pre_commit_output_formator.sh
  test/pre_commit_output.md
  test/pre_commit_output.txt
Labels: ci, github_actions, integration

:recycle: feat: Update precommit output formatter
  .github/workflows/integration-linter-pre-commit.yml
  scripts/pre_commit_output_formator.sh
  test/pre_commit_output.md
Labels: ci, github_actions, integration

:lipstick: feat: Update commit validator output
  .github/workflows/integration-commit-validator.yml
Labels: ci, github_actions, integration

:lipstick: feat: Update precommit output
  .github/workflows/integration-linter-pre-commit.yml
  .github/workflows/integration.yml
  scripts/pre_commit_output_formator.sh
  test/pre_commit_output.md
Labels: ci, github_actions, integration

:bug: fix: Extra double quote
  .github/workflows/integration-commit-validator.yml
Labels: ci, github_actions, integration

:bug: fix: Escape special char
  .github/workflows/integration-commit-validator.yml
Labels: ci, github_actions, integration

:lipstick: feat: Modify workflows to output nicer markdown summaries (#6)
  .github/workflows/integration-commit-validator.yml
  .github/workflows/integration-linter-pre-commit.yml
  .github/workflows/integration.yml
  scripts/pre_commit_output_formator.sh
  test/pre_commit_output.md
Labels: ci, github_actions, integration

:sparkles: feat: Add S3 copy files workflow
  .github/workflows/deployment-s3.yml
Labels: ci, github_actions, deployment

:memo: doc: Update workflow list in README.md
  README.md
Labels: documentation

:sparkles: feat: Add workflow to upload files to AWS S3 (#10)
  .github/workflows/deployment-s3.yml
  README.md
Labels: ci, github_actions, documentation, deployment

:bug: fix: Format S3 and precommit output
  .github/workflows/deployment-s3.yml
  .github/workflows/integration-linter-pre-commit.yml
Labels: ci, github_actions, deployment, integration

:bug: fix: Add spaces to render emojis
  .github/workflows/integration-commit-validator.yml
  .github/workflows/integration-linter-pre-commit.yml
Labels: ci, github_actions, integration

:bug: fix: Add titles with no emojis
  .github/workflows/integration-commit-validator.yml
  .github/workflows/integration-linter-pre-commit.yml
Labels: ci, github_actions, integration

:bug: fix: Change the format of the S3 workflow file and update the output of the pre-commit checks (#11)
  .github/workflows/deployment-s3.yml
  .github/workflows/integration-commit-validator.yml
  .github/workflows/integration-linter-pre-commit.yml
Labels: ci, github_actions, deployment, integration
