Repository gsuquet/workflows, changes with the labels that .github/labeler.yml gives for each.
All labels: gitignore, automation, deployment, integration, pages, security

.github/labeler.yml:

# PR labeler configuration file
ci:
- any:
  - changed-files:
    - all-globs-to-any-file: [.github/**/*, '!.github/ISSUE_TEMPLATE/*', '!.github/pull_request_template.md']
    - any-glob-to-any-file:
      - .pre-commit-config.yaml
      - .pre-commit-config
      - .semrelrc

gitignore:
- changed-files:
  - any-glob-to-any-file:
    - .gitignore

github_actions:
- any:
  - changed-files:
    - all-globs-to-any-file: [.github/**/*, '!.github/ISSUE_TEMPLATE/*', '!.github/pull_request_template.md']

documentation:
- any:
  - changed-files:
    - any-glob-to-any-file:
      - CHANGELOG.md
      - CODE_OF_CONDUCT.md
      - CONTRIBUTING.md
      - LICENSE
      - SECURITY.md
      - .github/ISSUE_TEMPLATE/**/*
      - .github/pull_request_template.md
      - '**/README.md'

configuration:
- any:
  - changed-files:
    - any-glob-to-any-file:
      - .devcontainer/**/*
      - .pre-commit-config.yaml
      - .editorconfig
      - justfile

automation:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/**/*automation*.yml

deployment:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/**/*deployment*.yml

integration:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/**/*integration*.yml

pages:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/**/*pages*.yml

security:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/**/*security*.yml

:memo: doc: Add security policy and update readme
  CHANGELOG.md
  README.md
  SECURITY.md
Labels: none

:bug: fix: Add back the initial commit processing
  .github/workflows/deployment-semver.yml
Labels: deployment

:wrench: feat: Add initial config files for semantic versioning workflow
  .github/workflows/deployment-semver.yml
  scripts/release.mjs
  scripts/release.sh
Labels: deployment

:memo: doc: Update workflow list in README.md
  README.md
Labels: none

:bug: fix: Add logs
  .github/workflows/deployment-semver.yml
Labels: deployment

:sparkles: feat: Add infos on workflow run
  .github/workflows/automation-display-workflow-info.yml
  .github/workflows/integration.yml
Labels: automation, integration

:wrench: fix: Add actionlint and act
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/config/default_gitmojis.yml
  .github/config/default_labels.yml
  .github/config/default_semver_gitmoji.yml
  .github/workflows/automation-greeter.yml
  .github/workflows/security-codeql.yml
Labels: automation, security

:sparkles: feat: Add initial semver commit parser workflow
  .github/workflows/deployment-semver.yml
  .github/workflows/integration.yml
Labels: deployment, integration

:bug: fix: Add debug logs to get commits since last tag step
  .github/workflows/deployment-semver.yml
Labels: deployment

:bug: fix: Install yq
  .github/workflows/deployment-semver.yml
Labels: deployment

:bug: fix: Try fixing commit format
  .github/workflows/deployment-semver.yml
Labels: deployment

:green_heart: fix: Update dependabot config for semver
  .github/dependabot.yml
Labels: none

:wrench: chore: Add devcontainer to the dependabot configuration file
  .github/dependabot.yml
Labels: none

:wrench: feat: Restrict concurrency to allow only one run at a time
  .github/workflows/integration.yml
Labels: integration

:wrench: chore: Add devcontainer to the dependabot update schedule and add pr concurrency for integration (#19)
  .github/dependabot.yml
  .github/workflows/integration.yml
Labels: integration

:sparkles: feat: Python package integration and deployment workflows
  .github/workflows/deployment-python-pypi.yml
  .github/workflows/integration-python.yml
Labels: deployment, integration

:memo: doc: Update workflow list in README.md
  README.md
Labels: none

:sparkles: feat: Python package integration and deployment workflows (#20)
  .github/workflows/deployment-python-pypi.yml
  .github/workflows/integration-python.yml
  README.md
Labels: deployment, integration

:sparkles: feat: Analyze supply chain security and generate scorecard
  .github/workflows/security-ossf-scorecard.yml
  README.md
Labels: security

:memo: doc: Update workflow list in README.md
  README.md
Labels: none

:sparkles: feat: Analyze supply chain security and generate scorecard workflow (#22)
  .github/workflows/security-ossf-scorecard.yml
  README.md
Labels: security

:lock: chore: Add sha for used actions & set permissions at job level
  .github/workflows/automation-closer.yml
  .github/workflows/automation-comment-pr.yml
  .github/workflows/automation-greeter.yml
  .github/workflows/automation-labeler.yml
  .github/workflows/deployment-s3.yml
  .github/workflows/integration-commit-validator.yml
  .github/workflows/integration-linter-pre-commit.yml
  .github/workflows/integration-modification-script.yml
  .github/workflows/integration.yml
  .github/workflows/security-codeql.yml
  .github/workflows/security-dependencies.yml
  .github/workflows/security-ossf-scorecard.yml
Labels: automation, deployment, integration, security

:bug: fix: Use content read instead of read-all to restrict scope
  .github/workflows/automation-closer.yml
  .github/workflows/automation-comment-pr.yml
  .github/workflows/automation-greeter.yml
  .github/workflows/automation-labeler.yml
  .github/workflows/deployment-s3.yml
  .github/workflows/integration-commit-validator.yml
  .github/workflows/integration-linter-pre-commit.yml
  .github/workflows/integration-modification-script.yml
  .github/workflows/integration.yml
  .github/workflows/security-codeql.yml
  .github/workflows/security-dependencies.yml
  .github/workflows/security-ossf-scorecard.yml
Labels: automation, deployment, integration, security

:green_heart: chore: Remove integration workflow
  .github/workflows/automation-labeler.yml
  .github/workflows/integration-commit-validator.yml
  .github/workflows/integration-linter-pre-commit.yml
  .github/workflows/integration-modification-script.yml
  .github/workflows/integration.yml
  .github/workflows/security-dependencies.yml
Labels: automation, integration, security

:memo: doc: Update workflow list in README.md
  README.md
Labels: none

:lock: chore: Pin used actions versions with commit sha & set github token permissions at job level (#23)
  .github/workflows/automation-closer.yml
  .github/workflows/automation-comment-pr.yml
  .github/workflows/automation-greeter.yml
  .github/workflows/automation-labeler.yml
  .github/workflows/deployment-s3.yml
  .github/workflows/integration-commit-validator.yml
  .github/workflows/integration-linter-pre-commit.yml
  .github/workflows/integration-modification-script.yml
  .github/workflows/integration.yml
  .github/workflows/security-codeql.yml
  .github/workflows/security-dependencies.yml
  .github/workflows/security-ossf-scorecard.yml
  README.md
Labels: automation, deployment, integration, security

:lock: fix(python): Use harden runner action & sha for used actions
  .github/workflows/deployment-python-pypi.yml
  .github/workflows/integration-python.yml
Labels: deployment, integration

:lock: fix: Reset read-all permissions at workflow level
  .github/workflows/automation-closer.yml
  .github/workflows/automation-comment-pr.yml
  .github/workflows/automation-greeter.yml
  .github/workflows/automation-labeler.yml
  .github/workflows/deployment-python-pypi.yml
  .github/workflows/deployment-s3.yml
  .github/workflows/integration-commit-validator.yml
  .github/workflows/integration-linter-pre-commit.yml
  .github/workflows/integration-modification-script.yml
  .github/workflows/integration-python.yml
  .github/workflows/security-codeql.yml
  .github/workflows/security-dependencies.yml
  .github/workflows/security-ossf-scorecard.yml
Labels: automation, deployment, integration, security

:lock: chore: Add security mesures to the python workflows (#24)
  .github/workflows/automation-closer.yml
  .github/workflows/automation-comment-pr.yml
  .github/workflows/automation-greeter.yml
  .github/workflows/automation-labeler.yml
  .github/workflows/deployment-python-pypi.yml
  .github/workflows/deployment-s3.yml
  .github/workflows/integration-commit-validator.yml
  .github/workflows/integration-linter-pre-commit.yml
  .github/workflows/integration-modification-script.yml
  .github/workflows/integration-python.yml
  .github/workflows/security-codeql.yml
  .github/workflows/security-dependencies.yml
  .github/workflows/security-ossf-scorecard.yml
Labels: automation, deployment, integration, security

:lock: chore: Set workflow level permissions to none
  .github/workflows/automation-closer.yml
  .github/workflows/automation-comment-pr.yml
  .github/workflows/automation-greeter.yml
  .github/workflows/automation-labeler.yml
  .github/workflows/deployment-python-pypi.yml
  .github/workflows/deployment-s3.yml
  .github/workflows/integration-commit-validator.yml
  .github/workflows/integration-linter-pre-commit.yml
  .github/workflows/integration-modification-script.yml
  .github/workflows/integration-python.yml
  .github/workflows/security-codeql.yml
  .github/workflows/security-dependencies.yml
  .github/workflows/security-ossf-scorecard.yml
Labels: automation, deployment, integration, security

:lock: chore: Set workflow level permissions to none (#25)
  .github/workflows/automation-closer.yml
  .github/workflows/automation-comment-pr.yml
  .github/workflows/automation-greeter.yml
  .github/workflows/automation-labeler.yml
  .github/workflows/deployment-python-pypi.yml
  .github/workflows/deployment-s3.yml
  .github/workflows/integration-commit-validator.yml
  .github/workflows/integration-linter-pre-commit.yml
  .github/workflows/integration-modification-script.yml
  .github/workflows/integration-python.yml
  .github/workflows/security-codeql.yml
  .github/workflows/security-dependencies.yml
  .github/workflows/security-ossf-scorecard.yml
Labels: automation, deployment, integration, security

:memo: chore: Update README & SECURITY policy
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  README.md
  SECURITY.md
Labels: none

:lock: feat: Harden runners in workflows to audit egress
  .github/workflows/automation-labeler.yml
  .github/workflows/deployment-python-pypi.yml
  .github/workflows/deployment-s3.yml
  .github/workflows/integration-commit-validator.yml
  .github/workflows/integration-linter-pre-commit.yml
  .github/workflows/integration-modification-script.yml
  .github/workflows/integration-python.yml
  .github/workflows/security-codeql.yml
  .github/workflows/security-dependencies.yml
  .github/workflows/security-ossf-scorecard.yml
Labels: automation, deployment, integration, security

:lock: feat: Harden runners to filter egress with whitelist & sudo off
  .github/workflows/automation-labeler.yml
  .github/workflows/integration-commit-validator.yml
  .github/workflows/integration-modification-script.yml
  .github/workflows/security-dependencies.yml
Labels: automation, integration, security

:sparkles: feat: Add the ability to harden the runner in the reusable workflows (#26)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/automation-labeler.yml
  .github/workflows/deployment-python-pypi.yml
  .github/workflows/deployment-s3.yml
  .github/workflows/integration-commit-validator.yml
  .github/workflows/integration-linter-pre-commit.yml
  .github/workflows/integration-modification-script.yml
  .github/workflows/integration-python.yml
  .github/workflows/security-codeql.yml
  .github/workflows/security-dependencies.yml
  .github/workflows/security-ossf-scorecard.yml
  README.md
  SECURITY.md
Labels: automation, deployment, integration, security

:bug: fix(scorecard): Allow oss-fuzz-build-logs.storage.googleapis.com
  .github/workflows/security-ossf-scorecard.yml
Labels: security

:bug: fix(scorecard): Allow runner to call oss-fuzz-build-logs.storage.googleapis.com using https (#29)
  .github/workflows/security-ossf-scorecard.yml
Labels: security

:bug: fix(scorecard): Update runner policy to audit
  .github/workflows/security-ossf-scorecard.yml
Labels: security

:bug: fix(scorecard): Update runner policy to audit (#30)
  .github/workflows/security-ossf-scorecard.yml
Labels: security

:lock: fix: Update runner policy back to block
  .github/workflows/security-ossf-scorecard.yml
Labels: security
